footer {
	clear: both;
	color: #f2ede7;
	overflow: hidden;
	padding: 10px 0 10px 25px;
	background-color: gray;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 10px;
	}
