header{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: grey;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0 10px 25px;
}

form{
    align-items: center;
    display: flex;
}

ul{
    list-style-type: none;
}

li{
    margin: 10px;
}

input[type=submit]{
    padding: 0;
}

header > *{
    text-align: center;
    margin-right: 10px;
}

header > form > *{
    margin-right: 5px;
}

header > nav > ul{
    display: flex;
    padding: 0;
    flex-direction: row;
}
